/****************************************************
GENERAL
****************************************************/

/*
Color Palette
Dark blue - 2C3E50
Highlight (red) - E74C3C
Light - ECF0F1  Darker - CACECF
Light Blue - 3498DB
Blue - 2980B9
*/

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

body{

  background-color: #ECF0F1;
}

a{

  text-decoration: none;
  color: #3498DB;
}

section{
  margin-top: 20px;
}

.align-right{
  width: 100%;
  text-align: right;
  display: block;
}

h2{

  color: #2C3E50;
  margin:0px 0 10px;
  padding:0;
}

.selected{
  color: #E74C3C;
}

/****************************************************
HEADER
****************************************************/

header h1 a{

  /*color: #2C3E50;*/
}

h1{
  text-align: center;
  width: 100%;
}

body{
  font-size: 1em;
}

/****************************************************
NAV
****************************************************/

header nav{
  border-radius: 4px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #2C3E50;
}

header nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

header nav li{
  display: inline-block;
  padding: 5px;
  margin: 0;

}

header nav li a{

}

/****************************************************
ARTICLE
****************************************************/

article{
  background-color: #ECF0F1;
  border-radius: 4px;
}

article .date{

  color: #999;
  font-size: 0.7em;

}

article h2{

  color: #2C3E50;
  margin:20px 0 10px;
  padding:0;
}

article h3{

  color: #2C3E50;
  font-size: 1em;
  margin:0 0 10px;
  padding:0;
}

article .intro{
  margin-top: 0;
  padding-top: 0;
}

article p{
  font-size: 0.9em;
}

/****************************************************
ASIDE
****************************************************/

aside{

  padding: 0;
  margin: 50px 0 0;
  border-radius: 4px;
  background-color: #fff;
}

#aside-container{
  padding: 20px 5%;
}

aside h4{

  font-size: 1.2em;
  padding: 0;
  margin: 0;

  
}

aside h4 a{
  color: #2C3E50;
}


/****************************************************
PAGE: BLOG
****************************************************/

aside dt{
  padding: 0px;
  margin: 0;
  font-size: 0.9em;
}

aside dd{
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  margin-bottom: 1em;
}

/****************************************************
PAGE: GLOSSARY
****************************************************/



#new-word-form label{
  display: block;
  text-align: left;
  padding-right: 2%;
  font-size: 0.8em;
  padding-bottom: 0.4em;

}

#new-word-form input, #new-word-form textarea{

  width: 100%;
  margin-bottom: 0.8em;
}

#reset-button{
  display: block;
  float: left;
  clear: both;
}

#add-word-button{
  display: block;
  float: right;
}

#glossary-list article{
  clear: both;
  padding-top: 20px;
}

button{
  border-radius: 4px;
  background-color: #3498DB;
  color: #fff;
  border: none;
  padding: 0.8em;
  font-size: 0.7em;
}

#reset-button{

  background-color: #999;
}

article #wordList dt{
  padding: 0;
  margin: 0 0 5px;
  font-size: 1em;
  font-weight: bold;
  color: #2C3E50;
}

article #wordList dd{
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  margin-bottom: 1em;
}


/****************************************************
FOOTER
****************************************************/

footer{
  clear: both;
  text-align: center;
  font-size: 0.7em;
  padding: 20px 0 20px;
}