.reset, h2, header nav, header nav ul, aside h4, #glossary, aside dt, aside dd {
  padding: 0;
  margin: 0; }

/****************************************************
GENERAL
****************************************************/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%; }

body {
  background-color: #2C3E50; }

a {
  text-decoration: none;
  color: #3498DB; }

h2 {
  color: #2C3E50; }

p {
  color: #666;
  margin: 0 0 1.5em;
  padding: 0; }

section {
  float: left;
  width: 100%; }

/****************************************************
HEADER
****************************************************/
header {
  margin-bottom: 20px; }

header h1 a {
  color: #ECF0F1; }

h1 {
  text-align: center;
  width: 100%;
  font-family: 'Sansita One', cursive;
  font-size: 2.2em; }

body {
  font-size: 1em; }

/****************************************************
NAV
****************************************************/
header nav {
  border-radius: 6px;
  width: 100%;
  background-color: #2C3E50; }

header nav ul {
  list-style: none;
  text-align: center; }

header nav li {
  display: inline-block;
  padding: 5px;
  margin: 0; }

header nav li .selected {
  color: #E74C3C; }

header nav li a {
  color: #3498DB; }

/****************************************************
ARTICLE
****************************************************/
article {
  background-color: #ECF0F1;
  border-radius: 6px;
  margin-bottom: 15px;
  padding: 20px 4% 10px; }

article .date {
  color: #E74C3C;
  font-size: 0.8em;
  font-weight: bold; }

article h2 {
  color: #2C3E50;
  margin: 10px 0 3px;
  padding: 0; }

article h3 {
  color: #2C3E50;
  font-size: 1em;
  margin: 0 0 3px;
  padding: 0; }

article p {
  font-size: 0.9em; }

/****************************************************
ASIDE
****************************************************/
aside {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0px 0 0;
  border-radius: 6px;
  background-color: #2980B9; }

aside h4 {
  color: #ECF0F1;
  font-size: 1.1em;
  margin: 15px 5%; }

aside h4 a {
  color: #2C3E50; }

/****************************************************
PAGE: BLOG
****************************************************/
aside dt {
  font-size: 0.9em;
  color: #ECF0F1;
  font-weight: bold; }

aside dd {
  font-size: 0.8em;
  margin-top: 0.3em;
  margin-bottom: 1em;
  color: #ECF0F1; }

aside dt a {
  color: #2C3E50; }

#view-glossary {
  width: 100%;
  text-align: right;
  display: block;
  color: #2C3E50;
  margin: 0 -5% 15px;
  font-weight: bold;
  font-size: 0.8em; }

aside .glossary-word {
  padding: 15px 5%; }

aside .glossary-word:nth-child(2n + 1) {
  background-color: #3498DB; }

/****************************************************
PAGE: GLOSSARY
****************************************************/
#new-word-form label {
  display: block;
  text-align: left;
  padding-right: 2%;
  font-size: 0.8em;
  padding-bottom: 0.4em; }

#new-word-form input, #new-word-form textarea {
  width: 100%;
  margin-bottom: 0.8em; }

#reset-button {
  display: block;
  float: left;
  clear: both; }

#add-word-button {
  display: block;
  float: right; }

#glossary-list article {
  clear: both;
  padding-top: 20px; }

button {
  border-radius: 4px;
  background-color: #666;
  color: #fff;
  border: none;
  padding: 0.8em;
  font-size: 0.7em; }

#reset-button {
  background-color: #999; }

#add-word-button {
  background-color: #3498DB; }

article #wordList dt {
  padding: 0;
  margin: 0 0 5px;
  font-size: 1em;
  font-weight: bold;
  color: #2C3E50; }

article #wordList dd {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  margin-bottom: 1em; }

/****************************************************
FOOTER
****************************************************/
footer {
  clear: both;
  text-align: center;
  font-size: 0.7em;
  padding: 20px 0 20px;
  color: #ECF0F1; }

footer a {
  color: #3498DB; }

/****************************************************
RESPONSIVE
****************************************************/
@media screen and (min-width: 660px) {
  header nav li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0; }
  section {
    float: left;
    width: 69%; }
  aside {
    float: right;
    width: 29%; }
  footer {
    padding-top: 30px; }
  /****************************************************
  PAGE: GLOSSARY
  ****************************************************/
  #glossary-list {
    width: 100%; }
  #glossary-list form {
    float: left;
    width: 28%;
    padding-top: 15px; }
  #glossary-list article {
    clear: none;
    float: right;
    width: 65%;
    padding: 0;
    margin-left: 3%; }
  #add-word-button {
    clear: both;
    display: block;
    float: left;
    margin-top: 10px; }
  /*header{

    border-radius: 4px;
    background-color: #2C3E50;
    width: 100%;
    height: 70px;
    margin-top: 15px;
  }

  header h1{

    float: left;
    width: 40%;
  }

  header nav{

    float: right;
    width: 40%;
    background-color: inherit;

  }

  header h1 a{

    color: #ECF0F1;
  }*/ }
